@using System.Globalization;
@model Dish
@{
    TextInfo text = CultureInfo.CurrentCulture.TextInfo;
}

<div class="max-w-xs rounded-md p-2 text-slate-800 h-full min-w-[200px]">
    <div class="border border-outline rounded-t-md">
        <div class="flex rounded-t-md px-3 bg-sec-cont items-stretch justify-evenly">
            <span class="py-3 text-on-sec-cont">@text.ToTitleCase(Model.Name!)</span>
            <div class="w-[3px] flex bg-white mx-2"></div>
            <span class="py-3 text-on-sec-cont">@text.ToTitleCase(Model.DishType!)</span>
        </div>
        <ul>
            @foreach (DishIngredient ingredient in Model.Ingredients)
            {
                <li class="flex">
                    <span class="grow text-on-sur bg-sur py-2 text-left pl-3">@text.ToTitleCase(ingredient.Name!)</span>
                    <span class="px-3 py-2 text-on-sur bg-sur">@($"{ingredient.Amount.ToString("0.00")}{ingredient.Unit}")</span>
                </li>
            }
        </ul>
    </div>
    <form method="post">
        <input type="hidden" asp-for="Id" value="@Model.Id" />
        <input type="hidden" asp-for="Name" value="@Model.Name" />
        <input type="hidden" asp-for="DishType" value="@Model.DishType" />
        <input type="hidden" asp-for="Price" value="@Model.Price" />
        @for (int i = 0; i < Model.Ingredients.Count; i++)
        {
            <input type="hidden" asp-for="Ingredients[i].Name" value="@Model.Ingredients[i].Name" />
            <input type="hidden" asp-for="Ingredients[i].Amount" value="@Model.Ingredients[i].Amount" />
            <input type="hidden" asp-for="Ingredients[i].Unit" value="@Model.Ingredients[i].Unit" />
            <input type="hidden" asp-for="Ingredients[i].Id" value="@Model.Ingredients[i].Id" />
            <input type="hidden" asp-for="Ingredients[i].Price" value="@Model.Ingredients[i].Price" />
        }
        <button asp-action="Index" type="submit" class="w-full bg-prim mt-3 rounded-full text-on-prim py-2">Order @Model.Price.ToString("C", CultureInfo.CurrentCulture)</button>
    </form>
</div>